:root {
  --fadedBlueTextboxColor: #707793;
  --tealColor: #3BBA9C;
  --tealColorButtonFaded: #3BBA9CA0;
  --tealColorButtonFadedShadow: #3BBA9C55;
  --fadedBlueTextboxShadow: #707793A0;
}

body {
  margin: 0;
  background-color: #2E3047;
}

h1 {
  font-size: x-large;
}

h2 {
  font-size: large;
  margin-top: 4px;
  margin-bottom: 4px;
}

h1, h2, p, li, td, text {
  color: #EEEEEE;
  font-family: Arial, Helvetica, sans-serif;
}

#teams-input-boxes > div > input {
  width: 100%;
}

#teams-input-boxes > div {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

#teams-input-boxes > input:last-child{
  margin-bottom: 0px;
}

#teams-input-boxes > div:first-child{
  margin-top: 0px;
}

input {
  background-color:var(--fadedBlueTextboxColor);
  border: none;
  height: 30px;
  padding-left: 15px;
  color: #EEEEEE;
}

input:focus {
  border: none;
  outline: none;
  box-shadow: -2px 2px var(--fadedBlueTextboxShadow);
}

#clear-button, #graph-button, .fill-button {
  background-color: var(--tealColorButtonFaded);
  color: #EEEEEE;
  border: none;
  font-size: small;
  margin-top: 38px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: -3px 4px var(--tealColorButtonFadedShadow);
}

#clear-button {
  margin-top: 0;
}

#graph-button:active, #clear-button:active, .fill-button:active {
  box-shadow: none;
  transform: translate(-3px, 4px)
}

.delete-button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  outline: none;
  color: #EEEEEE;
  margin-right: 4px;
  padding-left: 0px;
}

.material-icon {
  color: #EEEEEE;
}

#add-button {
  margin-bottom: 8px;
}

#dash-icon {
  margin-left: 5px;
  margin-right: 5px;
}

#teams-input-boxes {
  max-height: 28vh;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 12px;
}

::-webkit-scrollbar {
  width: 10px;
  transform: translate(5px, 5px)
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: gray;
}

#loading-icon {
  color: #EEEEEE
}

.line {
  width: 30px;
  height: 2px;
  background-color: var(--tealColor);
}

#dashed-line {
  border-bottom: 2px dashed var(--tealColor);
  background-color: transparent;
  height: 2px;
}

#custom-tooltip {
  font-size: 14px;
  line-height: 2px;
}

#custom-tooltip > * {
  line-height: 1;
  margin-bottom: 5px;
}

table, th, td {
  border: 2px solid white;
  border-collapse: collapse;
  padding: 8px;
}